<!doctype html>
<html ng-app="purchaseApp">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-controller="purchaseController">
    <div class="page-header">
        <h1> Список покупок </h1>
    </div>
    <div class="panel">
        <div class="form-inline">
            <div class="form-group" style="margin: 3mm">
                <div class="col-md-8">
                    <input class="form-control" [(ngModel)]="nameNew" placeholder = "Описание события" />
                </div>
            </div>
            <br/>
            <div class="form-group col-md-8" style="margin: 3mm; width: 50%">
                <div class="col-md-2">
                    <label>День: </label>
                    <select [(ngModel)]="dateDayNew" class="selectMargined">
                        <option>День</option>
                        <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Месяц: </label>
                    <select [(ngModel)]="dateMonthNew" class="selectMargined">
                        <option *ngFor="let month of months" [ngValue]="month">{{month.name}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Год: </label>
                    <select [(ngModel)]="dateYearNew" class="selectMargined">
                        <option>Год</option>
                        <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
                    </select>
                </div>
            </div>
            <br/>
            <div class="form-group col-md-10" style="margin: 3mm">
                <div class="col-md-1">
                    <label>Час: </label>
                    <select [(ngModel)]="dateHourNew" class="selectMargined">
                        <option>Час</option>
                        <option *ngFor="let hour of hours" [ngValue]="hour">{{hour}}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Минута: </label>
                    <select [(ngModel)]="dateMinuteNew" class="selectMargined">
                        <option>Минута</option>
                        <option *ngFor="let minute of minutes" [ngValue]="minute">{{minute}}</option>
                    </select>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="form-group" style="margin: 3mm">
                <div class="col-md-8">
                    <button class="btn btn-default" (click)="addItem()">Добавить</button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Предмет</th>
                    <th>Цена</th>
                    <th>Куплено<br>
                        Выбрать все <input type="checkbox" [(checked)]="selectedAll" (change)="changeSelectAllCheckboxState()" /></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list.items; let index = index" [class.done]="item.done">
                    <td><input type="hidden" [ngModel]="item.id"/></td>
                    <td><input [(ngModel)]="item.purchase"/></td>
                    <td>{{item.dateExpire | date: 'dd MMM yyyy HH:mm'}}</td>
                    <td><input type="checkbox" [(checked)]="item.done" (change)="changeCheckboxState(item.id)" /></td>
                    <td><a><img src="http://www.blackbox.sg/assets/img/image_1489397325png" width="20" height="20" (click)="removeItem(item.id)"/></a></td>
                </tr>
            </tbody>
        </table>
    </div>
 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>
</html>
