tr.done:nth-child(odd) {
    background-color: #0d0
}
tr.done:nth-child(even) {
    background-color: #0d0
}

select.selectMargined {
    margin-right: 2mm;
    margin-left: 2mm;
}

input.inputMargined {
    margin-right: 2mm;
    margin-left: 2mm;
}

input.day {
    width: 30%;
}

input.hour {
    width: 40%;
}

input.minute {
    width: 20%;
}

input.year {
    width: 20%;
}