<!doctype html>
<html ng-app="purchaseApp">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-controller="purchaseController">
    <div class="page-header">
        <h1> Список событий </h1>
    </div>
    <div class="panel">
        <div class="form-inline">
            <div class="form-group col-md-6" style="margin: 3mm">
                <div class="col-md-2">
                    <label>Чьи события: </label>
                    <select (change)="onChangeUser($event)">
                        <option [value]="defaultPerson.id">{{defaultPerson.name}}</option>
                        <option *ngFor="let person of persons | async" [value]="person.id">{{person.name}}</option>
                    </select>
                </div>  
            </div>
            <div class="form-group col-md-9" style="margin: 3mm">
                <div class="col-md-2">
                    <label>Описание: </label>
                    <input class="form-control" [(ngModel)]="nameNew" placeholder = "Описание события" />
                </div>               
                <div class="col-md-2">
                    <label>Дата события: </label>
                    <input [(ngModel)]="dateFullNew" ngui-datetime-picker [close-on-select]="false"/>
                </div>
<!--                 <div class="col-md-2">
                    <label>Для кого: </label>
                    <select [(ngModel)]="personAssignee">
                        <option *ngFor="let person of persons" [ngValue]="person">{{person.name}}</option>
                    </select>
                </div> -->
            </div>
            <br/>
            <div class="form-group col-md-8" style="margin: 3mm">
                <div class="col-md-2">
                    <label>Уведомить: </label>
                    <input [(ngModel)]="dateSchedule" ngui-datetime-picker [close-on-select]="false"/>  
                </div>
                <div class="col-md-6" style="margin-top: 6mm">
                    <a><img src="/assets/images/plus.png" width="20" height="20" (click)="addScheduleDate()"/></a>
                </div>                 
            </div>
            <div class="form-group col-md-6" style="margin: 3mm">
                <ul>
                    <li *ngFor="let schDate of listDatesSchedule">
                        {{schDate | formatDate}}<a><img src="/assets/images/minus.png" width="20" height="20" (click)="removeScheduleDate(schDate)"/></a>
                    </li>
                </ul>
            </div>
            <br/>
            <div class="form-group col-md-10" style="margin: 3mm">
                <div class="col-md-8">
                    <button class="btn btn-default" (click)="addItem()">Добавить</button>
                </div>
            </div>  
        </div>  
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Событие</th>
                    <th>Ожидаемая дата</th>
                    <th>Произошло?<br>
                        Выбрать все <input type="checkbox" [(checked)]="selectedAll" (change)="changeSelectAllCheckboxState()" /></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list | async; let index = index" [class.done]="item.done" [class.past]="item.inPast && !item.done">
                    <td><input type="hidden" [ngModel]="item.id"/></td>
                    <td><input type="hidden" [ngModel]="item.userId"/></td>
                    <td><textarea cols="40" rows="3" [(ngModel)]="item.name" (change)="updateItem(item)"></textarea></td>
                    <td><input [(ngModel)]="item.dateExpire" date-format="y" ngui-datetime-picker [close-on-select]="true" (ngModelChange)="updateItemCalendar(item)" />
                    {{ item.dateExpire | formatDate }}
                    </td>
                    <td><input #donecheckbox type="checkbox" [(checked)]="item.done" (change)="changeCheckboxState(item)" /></td>
                    <td><a><img src="/assets/images/cross.png" width="20" height="20" (click)="removeItem(item.id)"/></a></td>
                </tr>
            </tbody>
        </table>
    </div>
 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>
</html>
