<!doctype html>
<html ng-app="purchaseApp">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-controller="purchaseController">
    <div class="page-header">
        <h1> Список событий </h1>
    </div>
    <div class="panel">
        <div class="form-inline">
            <div class="form-group" style="margin: 3mm">
                <div class="col-md-8">
                    <input class="form-control" [(ngModel)]="nameNew" placeholder = "Описание события" />
                </div>
            </div>
            <br/>
            <div class="form-group col-md-8" style="margin: 3mm; width: 50%">
                <div class="col-md-2">
                    <label>День: </label>
                    <input type="number" [(ngModel)]="dateDayNew" class="inputMargined day" [range]="[1,31]" name="newDay" #newDay="ngModel"/>
                    <p style="color: red; font-weight:bold;" *ngIf="newDay.errors?.range">От 1 до 31!</p>
                </div>
                <div class="col-md-3">
                    <label>Месяц: </label>
                    <select [(ngModel)]="dateMonthNew" class="selectMargined">
                        <option *ngFor="let month of months" [ngValue]="month">{{month.name}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Год: </label>
                    <input type="number" [(ngModel)]="dateYearNew" class="inputMargined year" [range]="[1900,2100]" name="newYear" #newYear="ngModel"/>
                    <p style="color: red; font-weight:bold;" *ngIf="newYear.errors?.range">От 1900 до 2100!</p>
                </div>
            </div>
            <br/>
            <div class="form-group col-md-10" style="margin: 3mm">
                <div class="col-md-1">
                    <label>Час: </label>
                    <input type="number" [(ngModel)]="dateHourNew" class="inputMargined hour" [range]="[0,23]" name="newHour" #newHour="ngModel"/>
                    <p style="color: red; font-weight:bold;" *ngIf="newHour.errors?.range">От 0 до 23!</p>
                </div>
                <div class="col-md-2">
                    <label>Минута: </label>
                    <input type="number" [(ngModel)]="dateMinuteNew" class="inputMargined minute" [range]="[0,59]" name="newMinute" #newMinute="ngModel"/>
                    <p style="color: red; font-weight:bold;" *ngIf="newMinute.errors?.range">От 0 до 59!</p>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="form-group col-md-10" style="margin: 3mm">
                <div class="col-md-8">
                    <button class="btn btn-default" (click)="addItem()">Добавить</button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Событие</th>
                    <th>Ожидаемая дата</th>
                    <th>Произошло?<br>
                        Выбрать все <input type="checkbox" [(checked)]="selectedAll" (change)="changeSelectAllCheckboxState()" /></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list | async; let index = index" [class.done]="item.done">
                    <td><input type="hidden" [ngModel]="item.id"/></td>
                    <td><textarea cols="40" rows="3" [(ngModel)]="item.name" (change)="updateItem(item)"></textarea></td>
                    <td>{{item.dateExpire | date: 'dd MMM yyyy HH:mm'}}</td>
                    <td><input #donecheckbox type="checkbox" [(checked)]="item.done" (change)="changeCheckboxState(item)" /></td>
                    <td><a><img src="http://www.blackbox.sg/assets/img/image_1489397325png" width="20" height="20" (click)="removeItem(item.id)"/></a></td>
                </tr>
            </tbody>
        </table>
    </div>
 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>
</html>
